#information{
  width: 100%;
  height: 100%;
 padding-top: 0px;
 font-family: 'Fredoka One', cursive;
 font-size:20px;
 color: #222;
}
.informartion-account{
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  font-size:20px;
  color: #222;
}
#checkboxMale{
  font-size: 15px;
  margin-left: 120px;
}
#checkboxFeMale{
  font-size: 15px;
  margin-left: 150px;
}
#exampleRadios2{
  margin-top: 11px;
  margin-left:120px;
}
#exampleRadios1{
  margin-top: 11px;
  margin-left: 90px;
}
#heading-loginInfo {
  height: 10%;
  width: 100%;
  background-color: rgb(238, 230, 215) !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding-top: 8px;
}
#heading-loginInfo1 {
  height: 10%;
  width: 100%;
  background-color: rgb(238, 230, 215) !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding-top: 8px;
}
#input-fullName{
  width: 60%;
  margin-left: 70px;

}
#input-birthday{
  width: 60%;
  margin-left: 83px;
}
#input-Email{
  width: 60%;
  margin-left:115px;
}
#input-IdCard{
  width: 60%;
  margin-left:99px;
}
#input-Phone{
  width: 60%;
  margin-left:109px;
}
#input-Address{
  width: 60%;
  margin-left: 90px;
}
#btn-changPassWord{

  margin-top:50px;
  margin-left: 30%;
}
.informartion-login{
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  font-family: 'Fredoka One', cursive;
  font-size:20px;
  color: #222;

}
#heading-loginInfo {
  height: 10%;
  width: 100%;
  background-color: rgb(238, 230, 215) !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding-top: 8px;
}
#input-MemberCard{
  width: 60%;
  margin-left: 52px;

}
#input-Account{
  width: 60%;
  margin-left: 100px;
}
#input-Account1{
  width: 60%;
  margin-left: 78px;
}
#input-NewPassword{
  width: 60%;
  margin-left: 42px;
}
#input-OldPassword{
  width: 60%;
  margin-left: 49px;
}
#input-ConfirmPassword{
  width: 60%;
  margin-left: 6px;
}
#input-Gender{
  width: 60%;
  margin-left:97px;
}
#btn-changeInfo{
  margin-top: 10px;
  margin-left: 30%;
}
