<div class="movie-statistic-wrapper">
    <div class="row">
        <select name="statistic-mode" class="col-md-4 form-control" (change)="switchMode(this.$event.target.value)">
            <option value="thong-ke-phim" [selected]="mode==='movies'">Thong ke phim</option>
            <option value="thong-ke-thanh-vien" [selected]="mode==='members'">Thong ke thanh vien</option>
            <option value="thong-ke-the-loai-phim" [selected]="mode==='genres'">Thong ke the loai phim</option>
            <option value="thong-ke-xuat-chieu" [selected]="mode==='show-times'">Thong ke xuat chieu</option>
            <option value="thong-ke-thu-nhap" [selected]="mode==='incomes'">Thong ke thu nhap</option>
        </select>
        <select name="year-selector" class="col-md-2 form-control" *ngIf="mode==='incomes'&&incomes"
            (change)="switchYear(this.$event.target.value)">
            <option [value]="i" *ngFor="let income of incomes;index as i">{{income.year}}</option>
        </select>
    </div>
    <canvas id="myChart" width="400" height="auto"></canvas>
</div>