<div id="ticket-cancel">
  <h2 id="listTicketCancel" style="margin-left: 30px">Tickets Cancel List</h2>
  <div class="d-flex" id="search">
    <input class="form-control " type="text" placeholder="Search Ticket " style="width:400px">
    <button class="btn btn-success" type="submit" style="height: 46px" id="btnSearch">Search</button>
  </div>



  <div class="row">
    <table id="tableEmployee" class="table table-bordered table-hover">
      <thead>
      <tr style="text-align: center">
        <th>Movie Name</th>
        <th>ID Order</th>
        <th>Total Money</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let status of statusTickets4 |paginate: { itemsPerPage: 3, currentPage: pageCancel }" style="font-family: 'DM Sans', sans-serif;">
        <td>{{status.movieSchedules["movie"].movieName}}</td>
        <td>{{status.bookedTicketCode}}</td>
        <td>{{status.price}}</td>
        <td>{{status.orderStatus}}</td>
      </tr>

      </tbody>
    </table>
    <div id="page1"> <pagination-controls (pageChange)="pageCancel = $event"></pagination-controls></div>
  </div>
</div>

