#search{
  margin-left: 700px;
  margin-bottom: 60px;
}
#page1{
  font-size: 15px;
  padding-left: 35%;
  padding-top: 20px;
}
#ticket-cancel{
  font-family: 'Fredoka One', cursive;
  font-size:20px;
  color: #222;
}