.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px auto;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  color: #fff5ff;
  background: rgba(57, 158, 255, 0.89);
  padding: 16px 25px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .addDiscount {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 13px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 20px;
  line-height: 13px;
  background-color: rgba(0, 238, 6, 0.64);
}
.table-title .addDiscount i {
  margin-right: 4px;
}
.search-box {
  position: relative;
  float: right;
}
.search-box .input-group {
  min-width: 300px;
  position: absolute;
  right: 0;
}
.search-box .input-group-addon, .search-box input {
  border-color: #ddd;
  border-radius: 0;
}
.search-box input {
  height: 34px;
  padding-right: 35px;
  background: #f4fcfd;
  border: none;
  border-radius: 2px !important;
}
.search-box input:focus {
  background: #fff;
}
.search-box input::placeholder {
  font-style: italic;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 6px 0;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
  position: relative;
  top: 2px;
}
table.table {
  table-layout: fixed;
  margin-top: 15px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}
table.table tr th {
  text-align: center;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
/*table.table th:first-child {*/
/*  width: 60px;*/
/*}*/
table.table th:last-child {
  width: 120px;
}
table.table td input {
  /*color: #a0a5b1;*/
  display: inline-block;
  margin: 5px 2px 0px 2px;
  text-align: center;

}
table.table td a i{
  text-align: center;
}
table.table td a.add {
  color: #27C46B;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
table.table td a.edit1 {
  color: #ffbb01;
}
table.table td a.delete1 {
  color: #e31011;
}
table.table td i {
  font-size: 19px;
}
table.table td span {
  font-size: 12px;
}
 a.add {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
/*table.table td .add {*/
/*  display: none;*/
/*}*/
