
<script src="../../../../assets/lib/js/discount.js"></script>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-5">
          <h2>Danh sách khuyến mãi</h2>
        </div>
        <div class="col-sm-3 mr-0">
          <button type="button" class="btn btn-info addNew" (click)="addNew()"><i class="fa fa-plus"></i> Thêm khuyến mãi</button>
        </div>
        <div class="col-sm-4">
          <div class="search-box">
            <div class="input-group">
              <input type="text" id="search" class="form-control" placeholder="Tìm kiếm">
              <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped" id="test">
      <thead>
      <tr>
        <th>Tiêu đề</th>
        <th>Thời gian bắt đầu</th>
        <th>Thời gian kết thúc</th>
        <th>Mức giảm giá</th>
        <th>Chi tiết</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of discount;let i = index">
        <td>
          <span contenteditable="true"  >{{item.promotionTitle}}</span>
        </td>
        <td>
          <span contenteditable="true" >{{item.promotionBeginDate | date:'dd/MM/yyyy'}}</span>
        </td>
        <td>
          <span contenteditable="true" >{{item.promotionEndDate | date:'dd/MM/yyyy'}}</span>
        </td>
        <td>
          <span contenteditable="true" >{{item.promotionDiscount}}</span>
          </td>
        <td>
          <span contenteditable="true" >{{item.promotionDescription}}</span>
          </td>
        <td>
          <a class="add" (click)="addRow(i)" data-toggle="tooltip" type="button"><i class="material-icons">&#xE03B;</i></a>
          <a class="edit" (click)="edit(i+1)" data-toggle="tooltip" type="button"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" (click)="delete(i)" data-toggle="tooltip" type="button"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--<div class="container" >-->
<!--  <div class="d-flex" >-->
<!--    <button (click)="addNew()" class="btn btn-outline-success mx-0 " style="height: 38px;">Add New</button>-->
<!--    <div class="d-flex " STYLE="margin-left: 44%">-->
<!--      <input class="form-control mr-2" type="text" style="width: 450px;" placeholder="Tìm kiếm khuyến mãi">-->
<!--      <button class="btn btn-outline-success mx-0 " style="height: 38px;">Search</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="table-wrapper">-->
<!--    <div class="table-title">-->
<!--      <div class="row">-->
<!--        <div class="col-sm-5">-->
<!--          <h2>Danh sách khuyến mãi</h2>-->
<!--        </div>-->
<!--        <div class="col-sm-3 mr-0">-->
<!--          <button type="button" class="btn btn-info add-new" ><i class="fa fa-plus"></i> Thêm khuyến mãi</button>-->
<!--        </div>-->
<!--        <div class="col-sm-4">-->
<!--          <div class="search-box">-->
<!--            <div class="input-group">-->
<!--              <input type="text" id="search" class="form-control" placeholder="Tìm kiếm">-->
<!--              <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Tiêu đề</th>-->
<!--      <th>Thời gian bắt đầu</th>-->
<!--      <th>Thời gian kết thúc</th>-->
<!--      <th>Mức giảm giá</th>-->
<!--      <th>Chi tiết</th>-->

<!--      <th>Link ảnh</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let dynamic of discount; let i = index;">-->
<!--      <td>-->
<!--        <input [(ngModel)]="discount[i].promotionTitle" class="form-control" type="text" />-->
<!--      </td>-->
<!--      <td>-->
<!--        <input [(ngModel)]="discount[i].promotionBeginDate" class="form-control" type="text" />-->
<!--      </td>-->
<!--      <td>-->
<!--        <input [(ngModel)]="discount[i].promotionEndDate" class="form-control" type="text"/>-->
<!--      </td>-->
<!--      <td>-->
<!--        <input [(ngModel)]="discount[i].promotionDiscount" class="form-control" type="text"/>-->
<!--      </td>-->
<!--      <td>-->
<!--        <input [(ngModel)]="discount[i].promotionDescription" class="form-control" type="text"/>-->
<!--      </td>-->
<!--      <td>-->
<!--        <input [(ngModel)]="discount[i].promotionImage" class="form-control" type="text"/>-->
<!--      </td>-->
<!--      <td >-->
<!--        <button (click)="delete(i+1 )" class="delete" ><i class="material-icons">&#xE872;</i></button>-->
<!--        <button (click)="addRow(i)"  class="add" ><i class="material-icons">&#xE03B;</i></button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

