<h5>Thong tin dat ve</h5>
<div class="row ml-3">
    <div class="col-md-3">
        <img src="http://www.picsum.photos/170/220" alt="img">
    </div>
    <div class="col-md-9 ">
        <h5 class="row">Dai chien giua nhung vi sao</h5>
        <hr>
        <div class="row">
            <label for="" class=" col-4"><strong>Man hinh: </strong></label>
            <p class=" col-8">Scrn03</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Ma dat ve: </strong></label>
            <p class="col-8">BV0000012</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Ngay chieu: </strong></label>
            <p class="col-8">25-01-2017</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Gio chieu: </strong></label>
            <p class="col-8">08:20</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Ghe: </strong></label>
            <p class="col-8">B8-B9-B10-C10</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Gia: </strong></label>
            <p class="col-8">
                B8: 45000d <br>
                B9: 45000d <br>
                B10: 45000d <br>
                C10: 45000d <br>
            </p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Tong cong: </strong></label>
            <p class="col-8">180000d</p>
        </div>
        <h6 class="row">Thong tin tai khoan dat ve</h6>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Ho ten: </strong></label>
            <p class="col-8">Nguyen Van A</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>Email: </strong></label>
            <p class="col-8">nvtlong2810@gmail.com</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>CMND: </strong></label>
            <p class="col-8">191816354</p>
        </div>
        <hr>
        <div class="row">
            <label for="" class="col-4"><strong>So dien thoai: </strong></label>
            <p class="col-8">0935991771</p>
        </div>
        <p class="row">Vui long den lay ve truoc thoi gian chieu phim 30 phut.Sau thoi gian do ve se tu dong huy!</p>
    </div>
</div>