<h4>Chon ghe</h4>
<div class="row">
    <div class="col">
        <form>
            <label for="seatAmount">Chon so luong ghe</label>
            <select id="seatAmount" class="form-control col-md-2">
                <option [value]="i" *ngFor="let v of [].constructor(9);index as i">{{i}}</option>
            </select>
            <h5><strong>Ban da chon</strong></h5>
            <p>Phim: DON'T KNOCK TWICE Ngay chieu: 24-01-2017 Lich chieu phim: 12:20</p>
            <div class="row text-center" *ngIf="SeatColors">
                <span class="col"><i class="fas fa-couch fa-lg"></i>: Ghe trong</span>
                <span class="col"><i class="fas fa-couch fa-lg" [style.color]="SeatColors.BookedSeat"></i>: Ghe da co
                    nguoi
                    dat</span>
                <span class="col"><i class="fas fa-couch fa-lg " [style.color]="SeatColors.SelectingSeat"></i>: Ghe dang
                    chon</span>
                <span class="col"><i class="fas fa-couch fa-lg " [style.color]="SeatColors.VipSeat"></i>: Ghe vip</span>
            </div>
            <div class="positions" *ngIf="positions">
                <div class="row my-3" *ngFor="let position of positions">
                    <div class="col-md-3 d-inline">
                        <span><strong>{{position.name}}</strong></span>
                        <span *ngFor="let seat of position.seats">
                            <span class="mx-2 px-auto fa-layers fa-fw">
                                <i class="fas fa-couch fa-lg " *ngIf="seat.number"
                                    [style.color]="seat.isBooked?SeatColors.BookedSeat:seat.isSelecting?SeatColors.SelectingSeat:seat.isVip?SeatColors.VipSeat:''">
                                </i>
                                <span class="fa-layers-text fa-inverse" style="font-weight:700"
                                    data-fa-transform="right-3" *ngIf="seat.number">{{seat.number}}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Tiep tuc</button>
        </form>
    </div>
</div>