<nav id="nav-bar" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <a class="navbar-branch" href="#">
    <img id="logo" src="assets/images/logoCGV.png" height="75" width="230">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CINEMA CGV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEMBER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CULTUREPLEX</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
    </ul>
  </div>

</nav>

