<div class="login">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <form [formGroup]="formConfirm">
        <div class="card-header">
          <h3 style="font-weight: 800; font-family: Georgia,serif;">Tạo mới mật khẩu</h3>
        </div>
        <div class="card-body">
          <div class="input-group form-group">
            <input type="text" class="form-control" placeholder="Mật khẩu" formControlName="_password">
          </div>
          <p *ngIf="isFieldValidConfirmPassword('_password') || check" style="color:red;">password must fill</p>
          <div class="input-group form-group">
            <input type="password" class="form-control input" placeholder="Xác nhận mật khẩu" formControlName="confirm_password">
          </div>
          <p *ngIf="isFieldValidPassword('confirm_password') || check" style="color:red;">password must fill</p>
          <p style="color: red;margin-left: 20px; position: absolute">{{error_message}}</p>
          <div class="form-group">
            <input type="submit" value="Đăng nhập" (click)="Confirm()" class="btn float-right login_btn">
          </div>
        </div>
        <div class="card-footer" style="margin-top: 30px;">
          <div  style="color: #ff2820;margin-left: 40px">

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

