#logo{
  border-radius: 10px;
}

.navbar li a {
  color: black !important;
  font-size: 15px;
  font-style: initial;
  margin-right: 20px;
}
#nav-bar{
  margin-bottom: 5px;
}
.bg-light{
  background-color:#ffffff !important;
}
/*#helloAccount{*/
/* color: black;*/
/*}*/
