<div class="form-wrapper d-flex justify-content-center">
    <!-- TODO submit function -->
    <!-- TODO display validation errors DONE-->
    <!-- TODO repeat password validation DONE -->
    <!-- TODO async validate username -->
    <!-- TODO async validate email -->
    <form class="col-md-5" [formGroup]="employeeForm" *ngIf="employeeForm">
        <!-- <div class="custom-file ">
            <input type=" file" class="custom-file-input form-control" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div> -->
        <div class="row form-group">
            <label for="username">Tai khoan: </label>
            <input type="text" class="form-control" formControlName="username" id="username">
            <div class="alert alert-danger col" *ngIf="username.touched&&username.invalid">
                <div *ngIf="username.hasError('required')">Khong duoc de trong tai khoan</div>
                <div *ngIf="username.hasError('pattern')">Tai khoan khong dung dinh dang</div>
            </div>
        </div>
        <div class="row form-group">
            <label for="password">Mat khau: </label>
            <input type="text" class="form-control" formControlName="password" id="password"
                (change)="onRepeatPasswordChange(submitBtn,repeatedPassword)">
            <div class="alert alert-danger col" *ngIf="password.touched&&password.invalid">
                <div *ngIf="password.hasError('required')">Khong duoc de trong mat khau</div>
                <div *ngIf="password.hasError('pattern')">Mat khau khong dung dinh dang</div>
            </div>
        </div>
        <div class="row form-group">
            <label for="password2">Nhap lai mat khau: </label>
            <input type="text" class="form-control" id="password2"
                (change)="onRepeatPasswordChange(submitBtn,repeatedPassword)" #repeatedPassword>
            <div class="alert alert-danger col" *ngIf="isInvalidPassword&&password.touched">Mat khau nhap
                lai
                khong dung</div>
        </div>
        <div class=" row form-group">
            <label for="fullName">Ho ten: </label>
            <input type="text" class="form-control" formControlName="fullName" id="fullName" appFullnameTrim>
            <div class="alert alert-danger col" *ngIf="fullName.touched&&fullName.invalid">
                <div *ngIf="fullName.hasError('required')">Khong duoc de trong ho ten</div>
                <!-- <div *ngIf="fullName.hasError('pattern')">Ho ten khong dung dinh dang</div> -->
            </div>
        </div>
        <div class="row form-group">
            <label for="dateOfBirth">Ngay sinh: </label>
            <mat-form-field class="col-lg-12 px-0">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" id="dateOfBirth"
                    class="form-control px-3" formControlName="dateOfBirth"
                    style="font-size: 1rem;font-weight: 400;border:1px solid #ced4da;color:#495057">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row form-group ">
            <label for="gender">Gioi tinh: </label>
            <select name="gender-selector" id="gender" class="form-control" formControlName="gender">
                <option value="Male">Nam</option>
                <option value="Female">Nu</option>
            </select>
            <div class="alert alert-danger col" *ngIf="gender.touched&&gender.invalid">
                <div *ngIf="gender.hasError('required')">Khong duoc de trong gioi tinh</div>
            </div>
            <!-- <label for="">Gioi tinh: </label> -->
            <!-- <div class="custom-control custom-radio custom-control-inline ">
                <input type="radio" class="custom-control-input " id="male" value="Male">
                <label class="custom-control-label " for="male" style="padding-top: 6px;">Nam</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="female" value="Female">
                <label class="custom-control-label" for="female" style="padding-top: 6px;">Nu</label>
            </div> -->
        </div>
        <div class="row form-group">
            <label for="email">Email: </label>
            <input type="text" class="form-control" formControlName="email" id="email">
            <div class="alert alert-danger col" *ngIf="email.touched&&email.invalid">
                <div *ngIf="email.hasError('required')">Khong duoc de trong email</div>
                <div *ngIf="email.hasError('pattern')">Email khong dung dinh dang</div>
            </div>
        </div>
        <div class="row form-group">
            <label for="idCard">CMND: </label>
            <input type="text" class="form-control" formControlName="idCard" id="idCard">
            <div class="alert alert-danger col" *ngIf="idCard.touched&&idCard.invalid">
                <div *ngIf="idCard.hasError('required')">Khong duoc de trong chung minh</div>
                <div *ngIf="idCard.hasError('pattern')">Chung minh khong dung dinh dang</div>
            </div>
        </div>
        <div class="row form-group">
            <label for="phone">So dien thoai: </label><input type="text" class="form-control" formControlName="phone"
                id="phone">
            <div class="alert alert-danger col" *ngIf="phone.touched&&phone.invalid">
                <div *ngIf="phone.hasError('required')">Khong duoc de trong so dien thoai</div>
                <div *ngIf="phone.hasError('pattern')">So dien thoai khong dung dinh dang</div>
            </div>
        </div>
        <div class="row form-group">
            <label for="address">Dia chi: </label><input type="text" class="form-control" formControlName="address"
                id="address">
            <div class="alert alert-danger col" *ngIf="address.touched&&address.invalid">
                <div *ngIf="address.hasError('required')">Khong duoc de trong dia chi</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary mr-4" type="submit" [disabled]="employeeForm.invalid"
                #submitBtn>{{mode==="new"?"Them moi":"Luu"}}</button>
            <button class="btn btn-warning" (click)="previousPage()">Quay lai</button>
        </div>
    </form>
</div>