#vip{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: crimson;
  color: white;
}
#normal{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: rgba(21,104,197,0.76);
  color: white;
  margin-left: 100px;
}
#normal1{
  margin-top: 5px;
  margin-left: 120px;
  font-family: Roboto;
}
#vip1{
  margin-top: 5px;
  font-family: Roboto;
  margin-left: 15px;
}
