<div id="" class="container">
  <div class=" d-flex justify-content-center border-bottom">
    <button type="button" *ngFor="let movieSchedules of this.date1" value="{{movieSchedules}}"
            class="btn btn-secondary mx-2" (click)="print(movieSchedules)" >{{movieSchedules|date:"dd/MM"}}</button>
  </div>
  <div class="container">
    <!--    newwwwwwwwwwwwwwwwwwww-->
    <div>
      <div class="row mt-3 " *ngFor="let film of  nameHourFilm1;">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <img style="height: 100%;width: 100%;border-radius: 15px "
               src="{{film[1]}}"
               alt="">
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <div>
            <!-- name -->
            <h4>{{film[0]}}</h4>
<!--            <div class="d-flex ">-->
<!--              <p class="mr-3">Type Of Movie</p>-->
<!--                          <p class="mr-3">ddsđ</p>-->
<!--                          <p class="mr-3">ddsđ</p>-->
<!--            </div>-->
            <h4>2D Phụ Đề Anh</h4>
          </div>
          <div class="btn-group mt-3" role="group" aria-label="Basic example">
            <button type="button" style="font-size: large;"
                    class="mx-2 btn btn-outline-secondary" *ngFor="let film3 of  film[2]; index as i"  (click)="chonGhe(film[0],film3)">
              {{film3}}
            </button>
          </div>
        </div>
        <br>
      </div>
      <br>
    </div>
  </div>


</div>





