<div class="container">
  <h2>Thêm mới phim</h2>
  <form>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label d-flex justify-content-end  ">Tên phim <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label d-flex justify-content-end  ">Từ ngày <span style="color: red">(*)</span></label>
      <div class="col-sm-5">
        <input type="email" class="form-control" placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label d-flex justify-content-end  ">Đến ngày <span style="color: red">(*)</span></label>
      <div class="col-sm-5">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label d-flex justify-content-end  ">Diễn viên <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label d-flex justify-content-end  ">Hãng phim <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label d-flex justify-content-end  ">Đạo diễn <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label d-flex justify-content-end  ">Thời lượng <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label  class="col-sm-2 col-form-label d-flex justify-content-end  ">Phiên bản  <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
          <input class="mr-2"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label  class="mr-5">
            2D
          </label>
          <input class="mr-2" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label >
           3D
          </label>
      </div>
    </div>  <div class="form-group row">
      <label class="col-sm-2 col-form-label d-flex justify-content-end  ">Trailer <span style="color: red">(*)</span></label>
      <div id="checkbox1" class="col-sm-10">
        <input type="email" class="form-control" placeholder="">
      </div>
    </div>  <div class="form-group row">
      <label class="col-sm-2 col-form-label d-flex justify-content-end  ">Thể loại <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck1" value="option1" >
        <label style="font-weight: normal" class="mr-5">
           Hành động
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck2" value="option1" >
        <label style="font-weight: normal" class="mr-5">
           Viễn tưởng
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="exampleRadios3" value="option1" >
        <label style="font-weight: normal" class="mr-5">
           Hoạt hình
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="exampleRadios4" value="option1" >
        <label style="font-weight: normal" class="mr-5">
           Võ thuật
        </label>
        <br>
        <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck1" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Hài hước
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck2" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Chiến tranh
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="exampleRadios3" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Kinh dị
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="exampleRadios4" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Kinh điển
        </label>
        <br>
        <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck1" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Lãng mạng
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck2" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Kiếm hiệp
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="exampleRadios3" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          phiêu du
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="exampleRadios4" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Tâm lý
        </label>
        <br>
        <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck1" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Tình cảm
        </label>   <input class="mr-2"  type="checkbox" name="exampleRadios" id="examplecheck2" value="option1" >
        <label style="font-weight: normal" class="mr-5">
          Âm nhạc
        </label>
      </div>
    </div>  <div class="form-group row">
      <label  class="col-sm-2 col-form-label d-flex justify-content-end  ">Phòng chiếu <span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label d-flex justify-content-end  ">Lịch chiếu<span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="">
      </div>
    </div> <div class="form-group row">
      <label class="col-sm-2 col-form-label d-flex justify-content-end  ">Nội dung<span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label d-flex justify-content-end  ">Mã MV<span style="color: red">(*)</span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>


