<div class="login">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <form [formGroup]="formReset" >
        <div class="card-header">
          <h3 style="font-weight: 800; font-family: none,serif;">Thiết lập lại mật khẩu</h3>
        </div>
        <div class="card-body">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Email để khôi phục mật khẩu" formControlName="email">
          </div>
          <p style="color: red;margin-left: 20px; position: absolute">{{message}}</p>
          <div class="form-group">
            <input type="submit"  (click)="sentToEmail()" value="Gửi tới email" class="btn float-right login_btn" style="width: 150px;">
          </div>
        </div>
        <div class="card-footer">
        </div>
      </form>
    </div>
  </div>
</div>
